body {
    background-color: blue;
    font-weight: 600;
}
.container {
    border: 1px solid aqua;
    background: linear-gradient(to top left, #ff99cc 21%, #ccffff 67%);
}
h1 {
    text-align: center;
    color: blue;
    text-decoration: underline;
    font-style: oblique;
}
.chckit {
    border: 1px dotted linear-gradient(to top left, #ff99cc 21%, #ccffff 67%);
    background-color: blue;
    color: #ccffff;
    font-size: 40px;
    font-style: oblique;
    border-radius: 12%;
    text-align: center;
}